.category-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    font-size: 1.1rem;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.category-list {
  background-color: #257544;
  font-weight: 700;
  padding: 12px;
  border-radius: 50px;
  color: #fff;
  width: 150px;
  text-align: center;
}

.category-count {
  border: solid 2px #257544;
  padding: 10px;
  border-radius: 5px;
}

.category-count span {
    display: inline-block;
    width: 40px;
    text-align: center;
    background-color: #257544;
    padding: 3px;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    margin: 5px;
}

.category-table-container {
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.category-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .category-table th,
  .category-table td {
    padding: 20px 10px;
  }
  
  .category-table tr {
    border-bottom: 2px solid #e2e2e2;
  }

  .category-table tbody tr:hover {
    cursor: pointer;
  }

  .category-table tbody tr:hover {
    background-color: #2575441e;
  }
  
  .category-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #0000006b;
  }

  .category-table td a {
    color: #000000;
  }

  .category-table td a:hover {
    color: #257544;
  }

.btn-add {
    margin-top: 30px;
    padding: 11px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #257544;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    width: 150px;
    transition: opacity 150ms ease-in-out;
}

.btn-add:hover {
  opacity: 0.9;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

form input, form select {
  padding: 7px;
  border: 2px solid #cacaca;
  border-radius: 2px;
  transition: border 150ms ease-in-out;
  font-size: 0.9rem;
}

form input:hover,
form input:focus,
form select:hover,
form select:focus {
  border: 2px solid #257544;
  outline: none;
}

form span {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 2px #257544;
  padding: 8px;
  border-radius: 50%;
  color: #257544;
  font-size: 0.9rem;
}

.form-header {
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000000b7;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.btn-submit {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  background-color: #257544;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 2px;
  width: 200px;
  cursor: pointer;
}
  