.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

.pagination a {
    color: #fff;
}

.page-item a {
    padding: 5px 11px;
    transition: background-color 150ms ease-in-out;
}

.page-item a:hover {
    background-color: #fff;
    color: black;
}

.page-item.active a {
    background-color: #fff;
    color: black;
}